<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hapex-newsletter-ajax>
            <general>
                <enable>0</enable>
            </general>
            <dom-elements>
                <form-selector>.form.subscribe</form-selector>
                <message-selector>.scg-msg > .messages</message-selector>
                <modal-selector>#newsletter_modal_after</modal-selector>
            </dom-elements>
            <modal>
                <enable>0</enable>
                <require-location>fancybox/js/jquery.fancybox</require-location>
            </modal>
        </hapex-newsletter-ajax>
    </default>
</config>
