<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hapex_newsletter_ajax>
            <general>
                <enable>0</enable>
            </general>
            <dom_elements>
                <form_selector>.form.subscribe</form_selector>
                <message_selector>.scg-msg > .messages</message_selector>
                <modal_selector>#newsletter_modal_after</modal_selector>
            </dom_elements>
            <modal>
                <enable>0</enable>
                <require_location>fancybox/js/jquery.fancybox</require_location>
            </modal>
        </hapex_newsletter_ajax>
    </default>
</config>
