<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hapex" translate="label" sortOrder="100">
            <label>Hapex</label>
        </tab>
        <section id="hapex_newsletter_ajax" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator_top</class>
            <label>Newsletter Ajax</label>
            <tab>hapex</tab>
            <resource>Hapex_NewsletterAjax::newsletterajax_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="modal" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                <depends>
                    <field id="hapex_newsletter_ajax/general/enable">1</field>
                </depends>
                <label>"After" Modal Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show Modal Dialog After</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="hapex_newsletter_ajax/general/enable">1</field>
                    </depends>
                </field>
                <field id="require_location" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>RequireJS Fancybox Include Location</label>
                    <comment>Relative to view/frontend and do not include .js at the end</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="dom_elements" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
                <depends>
                    <field id="hapex_newsletter_ajax/general/enable">1</field>
                </depends>
                <label>DOM Elements Selectors</label>
                <field id="form_selector" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Newsletter Form CSS Selector</label>
                </field>
                <field id="message_selector" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status Message CSS Selector</label>
                    <comment>Must be within the newsletter form from above</comment>
                </field>
                <field id="modal_selector" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Modal Element CSS Selector</label>
                </field>
            </group>
        </section>
    </system>
</config>
